// Resets, Clearfix, etc
// import reset and clearfix

// Variables
$dark: #222;
$light: #EEE;
$highlight: orange;
$padding: 20px;



// Media Query Ranges
$medium: "only screen and (min-width: 600px)";
$large: "only screen and (min-width: 900px)";


// Mixins
@mixin block_font($block_font_size: 25px, $block_font_color: $dark){
  font-size: $block_font_size;
  color: $block_font_color;
}


// Styles
body{
  background-color: $highlight;
  text-align: center;
  color: $light;

  @media #{$medium}{

  }

  @media #{$large}{
  background-color: $dark

  }


}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
}

h1{
  padding: $padding;
  @include block_font(55px, $dark);

  @media #{$medium}{
  color: $light;
  }

  @media #{$large}{
    color: $highlight;

  }
}

h2{
  @include block_font(35px, $light);
    -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;


  @media #{$medium}{
    color: $highlight;
  }

  @media #{$large}{
    color: $dark;

  }
}




.block_family{
  max-width:350px;
  margin:auto;
  -webkit-padding-start: 0px;

  @media #{$medium}{
    max-width: 600px;
  }

  @media #{$large}{
    max-width: 900px;
  }
}

.block_family li{
  background-color: $dark;
  margin-bottom: $padding;
  padding: $padding;
  list-style-type: none;


  @media #{$medium}{
    background-color: $light;
    padding: 18px 81px;
    display: inline-block;
    margin-bottom: 4px;
  }

  @media #{$large}{
    background-color: $highlight;
  }
}